body {
    margin: 0 auto;
    color: white;
    background-color: #282829;
}

a{
    color: white;
    text-decoration: none;

}



@font-face {
    font-family: Prata;
    src: url("./assets/fonts/Prata-Regular.ttf");
}

h1 {
    font-family: Prata;
    font-size: 80px;
    font-weight: 400;
    line-height: 96px;
    text-align: left;
    color: white;
    margin-bottom: 10px;
}

h2 {
    font-family: Arial;
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;
    margin-bottom: 34px;
}

p {
    font-family: Arial;
    font-size: 24px;
    font-weight: 400;
    line-height: 33.6px;
    text-align: left;
    margin: 0px;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 44px;
    position: sticky;
    background-color: rgba(33, 33, 33, 0.84);
    z-index: 1000;

}

button{
    cursor: pointer;
    font-family: Arial;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.04em;
    text-align: center;
    border: 0px;
    -moz-transition: all 0.2s ease-in;
    /* WebKit */
    -webkit-transition: all 0.2s ease-in;
    /* Opera */
    -o-transition: all 0.2s ease-in;
    /* Standard */
    transition: all 0.2s ease-in;
}

button:hover{
    background-color: #515155 !important;
    color: white !important;
}

.submit_button{
    transition: all 0.5s;
    cursor: pointer;
}

.submit_button:hover {
    background-color: rgb(96, 96, 96);
    color: rgba(40, 40, 41, 1);
}

.ul_background img{
    display: none;
}

nav li{
    cursor: pointer;
    position: relative;
}

nav li::after{
    content: ''; /* Пустой контент для создания линии */
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0; /* Начальная ширина линии */
    height: 2px; /* Толщина линии */
    background-color: white; /* Цвет линии */
    transition: width 0.3s ease-in-out; /* Плавный переход */
}

nav li:hover::after{
    width: 100%;
}

header ul {
    display: flex;
    gap: 29px;
}

header ul li {
    font-family: Arial;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.04em;
}

header ul li::marker {
    content: '';
}

.Logo {
    font-family: Prata;
    font-size: 36px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0.03em;
}

.app {
    max-width: 1920px;
    background-color: #282829;
    width: 100%;
    margin: auto;
}

.offer {
    padding-left: 8%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
}

.offer img {
    aspect-ratio: 763/1009;
    width: 40%;
}

.welcome_section_content {
    max-width: 537px;
    width: 100%;
}

.welcome_section_content h2 {
    margin-bottom: 34px;
    margin-top: 0px;
}

.offers {
    margin: 0px;
    padding: 0px;
}

.offers li {
    font-family: Arial;
    font-size: 24px;
    font-weight: 400;
    display: flex;
    align-items: center;
    background: rgba(40, 40, 41, 0.7);
    gap: 5px;
    margin-bottom: 10px;
    width: fit-content;
}

.offers li span{
    display: inline-block;
    margin-right: 30px;
}

.offers li span.big {
    font-family: Prata;
    margin: 0px;
    font-size: 40px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0.04em;
    display: inline-block;
}

.offers li::before {
    content: url('./assets/images/svg/icon.svg');
    width: 39px;
    height: 37px;
    margin-right: 17px;
}

.Order-button-1 {
    width: 180px;
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 4px;
    margin-top: 40px;
}

.offer_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 49%;
    margin-bottom: 50px;
}

.more_offers {
    display: flex;
    justify-content: space-between;
    padding-top: 99px;
}

.more_offers ul {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}

.more_offers li {
    display: flex;
    width: 100%;
}

.more_offers li p {
    display: flex;
    align-items: baseline;
    margin: 0px;
}

.more_offers li div {
    background-image: url('./assets/images/svg/marker.svg');
    position: relative;
    width: 58px;
    height: 48px;
    aspect-ratio: 58/48;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-right: 20px;
}

hr {
    width: 100%;
    margin: 40px 0;
}

.conditions {
    width: 32%;
    display: flex;
    flex-direction: column;
}

.conditions button {
    width: 100%;
    height: 78px;
    border-radius: 4px;
    background-color: white;
    color: rgba(40, 40, 41, 1);
    margin-top: 80px;
}

.form_section {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 0px 10px;
}

.form {
    display: flex;
    margin: auto;
    background-color: white;
    background-image: url("./assets/images/png/hotel.png");
    background-size: auto 100%;
    height: 628px;
    background-repeat: no-repeat;
    background-position: right;
    max-width: 1597px;
    justify-content: space-evenly;
    width: 100%;
    border-radius: 24px;
}

.form h2 {
    color: rgb(56, 83, 93, 1);
}

.image1 {
    aspect-ratio: 622/724;
    width: 32.3959%;
}

.image2 {
    aspect-ratio: 589/724;
    width: 30.6774%;
}

.form img {
    position: relative;
    aspect-ratio: 599.95 / 903.69;
    width: 451px;
    height: fit-content;
    bottom: 50px;
}

.form form {
    display: flex;
    flex-direction: column;
}

.input {
    max-width: 761px;
    width: 100%;
    height: 65px;
    box-sizing: border-box;
    border: 2px solid rgba(214, 214, 214, 1);
    border-radius: 4px;
    padding-left: 5%;
    font-family: Arial;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: rgba(85, 86, 90, 1);
}

.input::placeholder {
    font-family: Arial;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: rgba(85, 86, 90, 0.49);
}

.name {
    margin-bottom: 24px;
}

.form div {
    width: 48.91%;
}

.form h2 {
    font-family: Prata;
    font-size: 54px;
    font-weight: 400;
    line-height: 59.4px;
    text-align: left;
}

.checkbox_label input[type="checkbox"] {
    width: 24px;
    height: 24px;
    margin-right: 20px;
    border-radius: 4px;
    cursor: pointer;
}

.checkbox_label {
    font-family: Arial;
    font-size: 19px;
    font-weight: 400;
    line-height: 24.7px;
    color: rgba(85, 86, 90, 1);
    display: flex;
    align-items: center;
    margin-top: 26px;
    margin-bottom: 28px;
    cursor: pointer;
    width: fit-content;
}

.submit_button {
    max-width: 761px;
    width: 100%;
    height: 100px;
    border-radius: 4px;
    font-family: Arial;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(40, 40, 41, 1);
}

.contacts {
    display: flex;
    gap: 3%;
    justify-content: center;
    border-top: 2px solid rgba(213, 201, 190, 1);
    border-bottom: 2px solid rgba(213, 201, 190, 1);
}

.contacts span {
    font-family: Arial;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.04em;
    text-align: right;
    color: rgba(255, 255, 255, 1);
    margin-top: 40px;
    margin-bottom: 40px;
}

footer{
    padding-bottom: 52px;
    background-color: rgba(34, 34, 34, 1);
}

.part_of_footer {
    display: flex;
    max-width: 1612px;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 43px;
}

.part_of_footer p{
    font-size: 20px;
}

.second_part_of_footer{
    margin-top: 20px;
}

footer .Order-button-1 {
    margin: 0px;
}

.social_networks {
    display: flex;
    gap: 32px;
}

.social_networks img{
    cursor: pointer;
}

.footer_link{
    position: relative;
    cursor: pointer;
}

.footer_link::after{
    content: ''; /* Пустой контент для создания линии */
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0; /* Начальная ширина линии */
    height: 2px; /* Толщина линии */
    background-color: white; /* Цвет линии */
    transition: width 0.3s ease-in-out; /* Плавный переход */
}

.footer_link:hover::after{
    width: 100%;
}

@media screen and (max-width: 793px) {
    .form{
        background-image: none;
        padding: 10px;
        box-sizing: border-box;
    }

    .form img {
        display: none;
    }

    .form h2 {
        font-size: 50px;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        aspect-ratio: 600 / 203;
        /* margin-top: 0px; */
        margin: 0px;
        text-align: center;
        background-image: url(./assets/images/png/hotel.png);
        background-size: 100%;
        background-repeat: no-repeat;
        border-radius: 20px 20px 0px 0px;
    }

    .form form{
        flex-direction: column;
        margin-top: 20px;
        align-items: center;
    }

    .checkbox_label{
        align-self: baseline;
    }

    .form div {
        width: 100%;
    }
}

@media screen and (max-width: 463px) {
    .contacts span {
        font-size: 15px;
    }
}

@media screen and (max-width: 1368px) {
    header ul li {
        font-size: calc(10px + 6*(100vw / 1920));
    }

    header .Logo {
        font-size: calc(10px + 26*(100vw / 1920));
    }

    .more_offers{
        flex-direction: column;
        align-items: center;
    }

    .conditions{
        width: 90%;
    }

    .image1{
        display: none;
    }

    .image2{
        display: none;
    }
}

@media (max-width: 1199px) {
    h1{
        text-align: center;
    }
    
    .offer {
        flex-direction: column;
        padding: 0px;
    }

    .offer_content {
        align-self: flex-start;
        width: 90%;
        margin: auto;
    }

    .offer img {
        display: none;
    }

    .Order-button-1{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .welcome_section_content{
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ul_background{
        position: relative;
        display: flex;
        width: 100%;
        justify-content: center;
        flex-grow: 1;
    }

    .ul_background img{
        display: block;
        width: 100%;
        height: 400px;
    };

    .part_of_footer{
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 16px;
        text-align: center;
        width: 90%;
    }

    .Logo {
        font-size: 28px;
        line-height: 42px;
    }

    .social_networks {
        gap: 16px;
        margin-left: 0;
        justify-content: center;
    }

    footer .Order-button-1 {
        display: none;
    }

    .second_part_of_footer p {
        font-size: 14px;
    }

    .offers li {
        background: transparent;
        margin-left: 12%;
    }

    .offers{
        width: 90%;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 10%;
        background-color: #00000099;
    }
}

@media (max-width: 767px) {
    .first_part_of_footer {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .submit_button:hover {
        color: rgba(255, 255, 255, 1);
        background-color: rgba(40, 40, 41, 1);
    }
    
    .footer_link:hover::after{
        width: 0%;
    }

    button:hover{
        background-color: #515155 !important;
        color: white !important;
    }

    nav li:hover::after{
        width: 0%;
    }
    

    .Logo {
        font-size: 24px;
        line-height: 36px;
    }

    .social_networks {
        gap: 12px;
        flex-wrap: wrap;
    }

    footer .Order-button-1 {
        width: 100%;
        max-width: 300px;
        text-align: center;
    }

    .second_part_of_footer {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .second_part_of_footer p {
        font-size: 12px;
    }

    .offers li span {
        font-size: 14px;
    }

    h2 {
        font-size: 30px;
        line-height: 40px;
        text-align: center;
    }

    h1 {
        font-size: 50px;
        line-height: 66px;
    }

    header ul li {
        font-size: calc(6px + 10*(100vw / 1920));
        line-height: normal;
    }

    .offer_content {
        margin-bottom: 40px;
    }

    .offers li span.big{
        font-size: 20px;
    }
}
